{plugins, [
    {rebar3_cargo,
        {git, "https://github.com/filmor/rebar3_cargo.git", {branch, "master"}}
    }
]}.

{provider_hooks, [
    {pre, [{compile, {cargo, build}}]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    % exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{deps, []}.
